* {
  box-sizing: border-box;
}
.page {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}
.sort {
  display: flex;
  &-text {
    margin-right: 20px;
    margin-left: 5px;
  }
}
.filter {
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: 7.1%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
